@import url('https://fonts.googleapis.com/css?family=Pacifico:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Merriweather:regular,bold,italic&subset=latin,latin-ext');

:root {
  --main-bg-color: #FAFAFA;
  --main-bg-color2: #0BA360;
  --main-bg-color3: #4FBA8B;
  --main-bg-color4: #C1E0D2;
  --main-bg-color2-dark: #0A4A2E;
  --main-color: black;
  --main-grey-text-color: #7A7C7E;
}

html, body {
  background-color: var(--main-bg-color);
  color: var(--main-color);

  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 17px;

  padding: 0;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin: 0px 0px;
}

div.MainDiv {
  width: 100%;
  text-align: center;
}

.todo {
  background-color: red;
}

.HowToTable{
  margin: 0px auto;
}

.HowToBox {
  padding: 32px 32px;
  border-radius: 16px;
  width: 450px;
  height: 450px;
  margin: 32px 32px;
}

.HowToBox.v1{
  background-color: white;
}

.HowToBox.v2{
  background-color:var(--main-bg-color2);
}

.HowToBox h2{
  color: var(--main-bg-color2-dark);
  margin: 0px;
}

.HowToBox.v1 p{
  color: var(--main-bg-color2-dark);
}

.HowToBox.v2 p{
  color: white;
}

.Section {
  padding: 32px;
}

ul.HeaderBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FCFCFC;

  position: sticky;
  top: 0;
  width: 100%;
}

ul.HeaderBar li {
  float: left;
}

ul.HeaderBar li a {
  display: flex;
  color: var(--main-bg-color2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  flex-direction: row;
  align-items: center;
  height: 46px;
}

ul.HeaderBar li a span{
  margin: 0px 16px;
}

.BigHeaderBarIcon {
  height: 48px;
}

.SmallHeaderBarIcon {
  height: 24px;
}

.shadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  z-index:2;
}

.lightShadow {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index:2;
}

button.BigSeedButton {
  background-color: var(--main-bg-color2);

  padding: 12px 32px;
  border-radius: 32px;
  border-width: 0px;

  font-size: 24px;
  font-weight: normal;

  color: white;
}

button.BigSeedButton:hover {
  background-color: var(--main-bg-color4);
}

.TheSeedBoxParent {
  position: relative;
}

.TheSeedBox {
  position: absolute;
  top: 6%;
  left: 2%;
  width: 25%;
  height: 25%;
  padding: 5%;
}

.TheSeedText {
  color: var(--main-bg-color2);
}

h1.TheSeedText {
  font-size: 6vw;
  font-family: 'Pacifico', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

span.TheSeedText {
  font-size: 1.5vw;
  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div.YouAreReady {
  width: 1000px;
  height: 312px;

  margin: 64px auto;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.YouAreReady img{
  position: absolute;
  left: 0px;
}

div.YouAreReady button{
  margin: auto;
}

.LoginBox {
  position: absolute;
  left:33.333%;
  top:33.333%;
  width: 33.333%;
  height: 33.333%;

  text-align: center;
}

.LoginBox h1.TheSeedText{
  font-size: 6vw;
}

.float-container {
  border: solid 2px #ddd;
  padding: 0 8px;
  position: relative;
  border-radius: 8px;

  margin: 8px;
}

.float-container:hover{
  border: solid 2px var(--main-bg-color2);
}

.float-container input.myLabel {
  border: none;
  font-size: 16px;
  margin: 16px 0 10px;
  outline: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}
label.myLabel {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(4px, -8px) scale(.75);
  transition: all .1s ease-in-out;
  background-color: var(--main-bg-color);
}

.float-container:hover label.myLabel{
  color: var(--main-bg-color2);
}

.float-container select.myLabel {
  border: none;
  font-size: 16px;
  margin: 16px 0 10px;
  outline: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-bg-color);
}

.toTheRight{
  float: right;
}

.ChooseLanguagePageBackground {
  position: absolute;
  width: 100%;
  height: 100%;

  background-color: var(--main-bg-color2);
}

.ChooseLanguagePageBox{
  position: absolute;
  left:40%;
  top:33.333%;
  width: 360px;

  text-align: left;
  background-color: var(--main-bg-color);
  box-shadow: 0px 32px 32px rgba(0, 0, 0, 0.25);

  border-radius: 4px;
  padding: 8px 16px;
}

.TextButtonGreen{
  font-size: 18px;
  padding: 4px 8px;
  border: 0px;

  color: var(--main-bg-color2);
  background-color: transparent;
}

.TextButtonGreen:hover{
  color: var(--main-bg-color3);
}

.margin8px{
  margin: 16px;
}

.greyText{
  color: var(--main-grey-text-color);
}

.Merriweather{
  font-family: 'Merriweather', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Greyish{
  color: rgba(0, 0, 0, 0.63);
}

.float-container-2 {
  width: 100%;
  overflow: hidden;
  margin: 64px 0px;
}

.float-child-left-2 {
  text-align: left;
  width: 400px;
  float: left;
  margin: 0px 128px;
}  

.float-child-right-2 {
  margin: 0px 256px;
  margin-left: 700px;
}

.Div33Percent{
  position: relative;
  left: 33.3333%;
  width: 33%;
}

.Div40Percent{
  position: relative;
  left: 30%;
  width: 40%;
}

.Div50Percent{
  position: relative;
  left: 25%;
  width: 50%;
}

.marginVertical64px{
  margin: 64px 0px;
}

.FooterBar{
  background-color: var(--main-bg-color2);
  color: white;
  margin: 0px;
  padding: 0px;

  width: 100%;
  position: absolute;
}

.FooterBar p{
  margin: 32px 128px;
}

.MultipleOptionButton{
  background-color: var(--main-bg-color2);
  color: white;
  border: 0px;
  height: 50px;
  width: 300px;
  border-radius: 25px;
  margin: 16px;
}

.MultipleOptionButton:hover{
  background-color: var(--main-bg-color3)
}

.MultipleOptionButton p{
  font-family: 'Open Sans', BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 20px;
}